.home-banner {
    height: calc(100vh - 56px); /* Bootstrap navbar default height */
    background: url('https://images.unsplash.com/photo-1512820790803-83ca734da794') center center / cover no-repeat;
    padding: 2rem;
  }
  